<div id="portafolio" class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1><em>¿Aún no te sientes convencido? Mira lo que he construido!</em></h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer app</h3>
                <p>Una aplicación web que envía correos debido a la implementación del API de <a target="_blank" href="https://sendgrid.com/">Sendgrid</a>.</p>
                <a href="#" class="orange">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Gestor de clientes</h3>
                <p>Una aplicación de escritorio dinámica escrita en Python más la implementación de bases de datos relacionales.</p>
                <a href="#" class="orange">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Gestor de tareas</h3>
                <p>Una aplicación de escritorio dinámica escrita en Python más la implementación de bases de datos relacionales.</p>
                <a href="#" class="orange">Link aquí</a>
            </div>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer app</h3>
                <p>Una aplicación web que envía correos debido a la implementación del API de <a target="_blank" href="https://sendgrid.com/">Sendgrid</a>.</p>
                <a href="#" class="orange">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Gestor de clientes</h3>
                <p>Una aplicación de escritorio dinámica escrita en Python más la implementación de bases de datos relacionales.</p>
                <a href="#" class="orange">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Gestor de tareas</h3>
                <p>Una aplicación de escritorio dinámica escrita en Python más la implementación de bases de datos relacionales.</p>
                <a href="#" class="orange">Link aquí</a>
            </div>
        </div>
    </div>
</div>